.title {
  width: 100%;
  color: white;
  margin-bottom: 5px;
  }
.navbar {
  height: 85px;
  background-color: darkblue;
}
.navbar-brand {
  color: white;
  font-size: 27px;
  font-weight: bold;
}
.navbar-text {
  font-size: 27px;
}
.message {
  margin-left: 58px;
}
.jumbotron {
  height: 470px;
  border-radius: 0px;
  text-align: center;
  background-image: url(./jules-d-ZqO-Rji9jTA-unsplash.jpg);
  background-size: cover;
}
.display-4 {
  padding-top: 125px;
  font-weight: bold;
}
.lead { 
  padding-top: 25px;
  font-weight: bold;
}
@media screen and (max-width: 980px) {
  .navbar-brand, .navbar-text {
    font-size: 18px;
  }
  .message {
    margin-left: 28px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-brand, .navbar-text {
    font-size: 16px;
  }
  .message {
    margin-left: 18px;
  }
}
@media screen and (max-width: 640px) {
  .navbar-brand, .navbar-text {
    font-size: 12px;
  }
  .message {
    margin-left: 0px;
  }
}